/* Card CSS style is primarily taken from http://codepen.io/bennettfeely/pen/Ftczh
 * With contributions from
 * http://cssdeck.com/labs/css-only-pinterest-style-columns-layout
 */

 .card {
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    background: white;
    margin: 0 1rem 1rem;
    border-radius: 3px;
    user-select: none;
    animation: fly-in-from-left .5s 1s ease both;
    transform-origin: top left;
    color: #000;
    display: inline-block;
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
  }
  
  /*
   * These styles are taken from Bootstrap's cover template: http://getbootstrap.com/examples/cover/
   */
  .site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    text-align: center;
  }
  
  .site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
  }
  
  .cover-container {
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Padding for spacing */
  .inner {
    padding: 30px;
  }
  
  .cover {
    padding: 0 20px;
  }
  .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
  }
  